@font-face {
    font-family: 'CasaRegular';
    src: url('fonts/casa-webfont.eot');
    src: url('fonts/casa-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/casa-webfont.woff') format('woff'),
         url('fonts/casa-webfont.ttf') format('truetype'),
         url('fonts/casa-webfont.svg#CasaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
  font-size:100%;
  overflow-y:scroll;
  width:100%;
  position:relative;
  font-family:helevtica, arial, sans-serif;
  color: #000;
}
body {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:13px;
  vertical-align:baseline;
  background: #f3e0ed;
  width:100%;
  position:relative;
  *font-size:small;
}
div, span, object, iframe, p, abbr, address, cite, dfn, em, img, var, b, i, dl, dt, dd, li, fieldset, form, legend, caption, tbody, tfoot, thead, tr, canvas, summary, time, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  font-weight:bold;
}
blockquote, q {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  quotes:none;
}
pre {
  margin:0;
  padding:15px;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  font-family:monospace, sans-serif;
  white-space:pre-line;
  word-wrap:break-word;
}
code, kbd, samp {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  font-family:monospace, sans-serif;
}
del {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration:line-through;
}
ins {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background-color:#ffff99;
  color:#000000;
  text-decoration:none;
}
small {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:85%;
  vertical-align:baseline;
  background:transparent;
}
strong, th {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  font-weight:bold;
}
sub {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:smaller;
  vertical-align:sub;
  background:transparent;
}
sup {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:smaller;
  vertical-align:super;
  background:transparent;
}
ol {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  margin-left:1.8em;
  list-style-type:decimal;
}
ul {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  margin-left:1.8em;
}
label {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  cursor:pointer;
}
table {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  border-collapse:collapse;
  border-spacing:0;
}
td {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:top;
  background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  display:block;
}
mark {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background-color:#ffff99;
  color:#000000;
  font-style:italic;
  font-weight:bold;
}
nav ul {
  list-style:none;
  margin:0;
}
blockquote:before, blockquote:after, q:before, q:after {
  content:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  color:#000000;
}
abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
input, select {
  vertical-align:middle;
  font:99% sans-serif;
  color:#444444;
  margin:0;
}
textarea {
  font:99% sans-serif;
  color:#444444;
  overflow:auto;
  margin:0;
}
button {
  font:99% sans-serif;
  cursor:pointer;
  margin:0;
  width:auto;
  overflow:visible;
}
a:hover { outline:none; }
a:active {
  outline:none;
  color:#000000;
}
a, a:visited { color:#000000; }
nav li { margin:0; }
td img { vertical-align:top; }
.ie6 legend, .ie7 legend { margin-left:-7px; }
input[type="radio"] { vertical-align:text-bottom; }
input[type="checkbox"] { vertical-align:bottom; }
.ie7 input[type="checkbox"] { vertical-align:baseline; }
.ie6 input { vertical-align:text-bottom; }
label, input[type=button], input[type=submit] { cursor:pointer; }
input:invalid, textarea:invalid {
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  border-radius:1px;
  -moz-box-shadow:0 0 5px red;
  -webkit-box-shadow:0 0 5px red;
  box-shadow:0 0 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color:#f0dddd; }
::-moz-selection {
  background:#ff0000;
  color:#ffffff;
  text-shadow:none;
}
::selection {
  background:#ff0000;
  color:#ffffff;
  text-shadow:none;
}
a:link { -webkit-tap-highlight-color:#ff0000; }
.ie7 img { -ms-interpolation-mode:bicubic; }
.ir {
  display:block;
  text-indent:-999em;
  overflow:hidden;
  background-repeat:no-repeat;
  text-align:left;
  direction:ltr;
}
.hidden {
  display:none;
  visibility:hidden;
}
.visuallyhidden {
  position:absolute !important;
  clip:rect(1px,1px,1px,1px);
}
.invisible { visibility:hidden; }
.clearfix:before {
  content:"\0020";
  display:block;
  height:0;
  visibility:hidden;
}
.clearfix:after {
  content:"\0020";
  display:block;
  height:0;
  visibility:hidden;
  clear:both;
}
.clearfix { zoom:1; }
#ie {
  width:100%;
  background:#ffff99;
  color:#000000;
  position:relative;
  text-align:center;
  padding:5px 0;
}
#ie #closeIE {
  position:absolute;
  right:10px;
  top:10px;
  cursor:pointer;
}
#noJs {
  height:40px;
  font-size:22px;
  color:red;
  line-height:40px;
  text-align:center;
}
ul li { list-style:none; }
form label {
  width:80px;
  display:inline-block;
  text-align:right;
  padding:2px;
}



h3{
    font-family: CasaRegular, arial, sans-serif;
    font-size: 24px;
}
p{
    font-family: Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
    width:1206px;
    height: 1070px;
    margin:10px auto;
    position: relative;
    background: url("../imgs/container_bg.png") no-repeat;
}
header{
  height:60px;
    overflow: hidden;
}
header nav li {
  float:left;
  text-align:center;
  font-weight:bold;
  width: 160px;
}
header nav li a{
    font-family: casaregular, arial, sans-serif;
    font-size: 16px;
    display: block;
    cursor: pointer;
    line-height: 60px;
    text-decoration: none;
}
header nav li a.current{
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 10px rgba(255,0,0,0.5),
                10px 5px 10px rgba(255,0,0,0.8),
                10px -5px 20px rgba(255,0,0,0.8),
                -10px 5px 20px rgba(255,0,0,0.8),
                -10px -5px 20px rgba(255,0,0,0.8);
    text-decoration: underline;
}
header #shoppingCart {
    float:right;
    margin-right: 20px;
    margin-top: 10px;
}
header #cartLink {
    font-family: 'casaregular', arial, sans-serif;
    text-decoration: none;
    font-size: 24px;
    text-shadow: 1px 1px 4px #666;
    font-weight: bold;
}
header #cartIcon{
    background: url("../imgs/shoppingcart_icon.png") no-repeat;
    width: 62px;
    height: 51px;
    float: right;
    margin-right: 20px;
    position: relative;
}
header #cartIcon #numItems{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    left: 17px;
    position: absolute;
    text-align: center;
    top: 10px;
}
#mainTop{
    overflow: hidden;
}
#mainTop #logo{
    margin: 10px 35px;
    float: left;
}
#mainTop #textBox{
    float: right;
    width: 650px;
    height: 355px;
    padding: 65px 56px 70px 50px;
    background: url("../imgs/text_bg.png") no-repeat;
    font-size: 16px;
}
#textBox p{
    margin: 0 0 15px 0;
}

#mainBottom{
    overflow: auto;
}
#mainBottom #evarraLogo{
    margin: 0 25px 50px;
}
#mainBottom #mailingListForm{
    float: left;
    height: 100px;
    margin: 40px 0 60px 30px;
}
#mailingListForm #signUpBtn{
    background: url("../imgs/signup_btn.png") no-repeat;
    width: 90px;
    height: 32px;
    text-indent: -9999px;
    border: none;
    padding: 0;
    margin: 0 0 0 -7px;
}
#mailingListForm label{
    color: #666666;
    display: block;
    font-family: georgia, serif;
    font-size: 16px;
    font-style: italic;
    width: 220px;
}

#mailingListForm input{
    border: 1px solid #000;
    height: 25px;
    margin: 0;
    padding: 0;
    margin-top: -5px;
    box-shadow: inset 1px 1px 4px #666;
    width: 230px;
}
#mainBottom #images{
    width: 900px;
    height: 260px;
    float: right;
    margin-top: -20px;
}
#mainBottom #imageLeft, #mainBottom #imageRight{
    width: 25%;
    float: left;
    position: relative;
    height: 260px;
}
#mainBottom #imageLeft img, #mainBottom #imageRight img{
    position: absolute;
    bottom: 0;
}
#mainBottom #imageCenter{
    width: 50%;
    float: left;
}
#mainBottom #images img{
    box-shadow: 4px 4px 4px #666;

}
#mainBottom #evarraText{
    background: url("../imgs/evarra_white_block.png") no-repeat scroll 50% 80% transparent;
    float: right;
    font-size: 18px;
    height: 180px;
    margin-right: 90px;
    text-align: center;
    width: 700px;
}


/*PRODUCTS PAGE*/
#mainProd{
    position: relative;
    overflow: auto;
}
#mainProd #imageDiv{
    height: 600px;
    margin-left: 5px;
    float:left;
    top: 10px;
    width: 446px;
}
#mainProd #textDiv{
    float:right;
    margin-right: 10px;
    top:10px;
    width: 745px;
    height: 600px
}
#mainProd #productDetails{
    height: 350px;
    width: 95%;
    margin: 10px auto;
    border: 1px solid #666;
    clear: both;
}
#mainProd #qty{
    width: 20px;
}
#mainProd #addBtn{
    margin: 10px 30px;
}
#imageDiv #mainImage{
    margin: 5px auto;
    height: 400px;
    width: 380px;
    border: 2px solid black;
    display: block;
}
#imageDiv #imageViews{
    margin: 5px auto;
    width: 380px;
    overflow: auto;
}
#imageDiv #imageViews img{
    width: 75px;
    height: 75px;
    border: 1px solid #000;
    display: block;
    float: left;
    margin: 0 10px;
}
#textDiv ul li{
    width: 40%;
    float: left;
    margin: 10px 5%;
    text-align: center;
}


/*CONTACT PAGE*/
#contactForm{
    width: 600px;
    margin: 10px 30px;
    border: 2px solid #000;
}
#contactForm #leftInput, #contactForm #rightInput{
    width: 40%;
    float: left;
    margin: 5px 5%;
}
#contactForm #bottomInput{
    clear: both;

}





footer{
    height: 75px;
    position: relative;

}
footer #facebookLink{
    position: absolute;
    top: 0;
    right: 20px;
    background: url("../imgs/facebook_logo.png") no-repeat;
    width: 41px;
    height: 59px;
    text-indent: -9999px;
}
footer #siteLink{
    text-align: center;
    display: block;
    font-size: 16px;
    font-family: georgia;
    font-style: italic;
}

.italic { font-style:italic; }
.underline { text-decoration:underline; }
.bold { font-weight:bold; }
.noFocus:focus{ outline: none; }

@media all and (orientation:portrait) {
}
@media all and (orientation:landscape) {
}
@media screen and (max-device-width: 480px) {
}
@media print {
  * {
    background:transparent !important;
    color:#444444 !important;
    text-shadow:none !important;
  }
  a, a:visited {
    color:#444444 !important;
    text-decoration:underline;
  }
  a:after { content:" (" attr(href) ")"; }
  abbr:after { content:" (" attr(title) ")"; }
  .ir a:after { content:""; }
  pre, blockquote {
    border:1px solid #999999;
    page-break-inside:avoid;
  }
  thead { display:table-header-group; }
  tr, img { page-break-inside:avoid; }
  p {
    orphans:3;
    widows:3;
  }
  h2, h3 {
    orphans:3;
    widows:3;
    page-break-after:avoid;
  }
}
